nav{
  width: 100%;
  font-weight: bold;
}

nav p{
  display: inline-flex;
  color: #506a85;
}

nav a{
  margin-right: 5% !important;
  margin-top: 0.5%;
}

nav .row{
  display: inline-flex;
  width: 100%;
}

nav .nav-links{
  text-transform: uppercase;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
}

nav a:hover{
  text-decoration: none;
}

footer{
  background-color: #2f4052 !important;
  color: #fff;
  width: 100%;
}

.sub-footer{
  background-color: #283645;
  display: inline-flex;
  width: 100%;
}

.sub-footer-content{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  color: #707e8c;
}


@media only screen and (max-width: 800px) {
    .col-md-12 {
        padding: 0px !important;
    }

    .banner h1{
      font-size: 50px !important;
    }

    .three-things, .quality, .creativity{
      text-align: center;
    }

    .flex{
      text-align: center !important;
    }

    .sub-footer{
      display: none !important;
    }
}

// navbar/footer thing like that
