body{
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif ;
}


h1, h2, h3, h4, h5, h6, p, a, span, li{
  font-family: 'Source Sans Pro', sans-serif;
}
p{
  margin: 0px ;
}

a{
  text-decoration: none;
}

h1{
  margin: 0px !important;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h3{
  font-size: 36px !important;
}

.center{
  text-align: center !important;
}
// things that apply to everthing
