body{
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, span, li{
  font-family: 'Source Sans Pro', sans-serif;
}

p{
  margin: 0px;
}

a{
  text-decoration: none;
}

h1{
  margin: 0px !important;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h3{
  font-size: 36px !important;
}

.btn-design {
  color: white;
  padding: 12px 45px;
  border-radius: 2px;
  font-weight: bold;
  background: #00bc9c;
  transition:  0.45s ease;
}
.btn-design:hover {
  opacity: 1;
  background: #fff;
  text-decoration: none;
  color: #00bc9c;
}

.btn-design2 {
  color: white;
  padding: 12px 45px;
  border-radius: 2px;
  font-weight: bold;
  background: #00bc9c;
  transition:  0.45s ease;
}
.btn-design2:hover {
  box-shadow: 2px 3px 15px 4px #eaeaea;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.center{
  text-align: center !important;
}
// things that apply to everthing
