// everthing else
header{
  background-color: #f5f7fa;
}

.homepage{
  padding-bottom: 50px;
}

// banner starts here
.banner{
  background: url('https://res.cloudinary.com/desmpz4mv/image/upload/v1532945073/image.png') center center no-repeat;
  color: white;
  text-align: center;
  height: -webkit-fill-available;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner h1{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 5px;
}

.banner-content p{
  font-size: 20px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 50px;
  padding: 0 12%;
}

// banner ends here

// first section starts here

.paragraph{
  text-align: center;
  margin: 30px 0;
}

section{
  color: #506a85;

}

.far{
  color: #00bc9c;
  font-size: 45px;
}

.about-me{
  margin-bottom: 5%;
}

.about-me p{
  color: #73879c;
}

// first section ends here


// second section starts here

.second-section{
  background-color: #f2f5f7;
}

.margin{
  margin: 1% 0 1%;
}

.latest-work{
  text-align: center;
  margin: 5% 0 5%;
}

.card{
  background-color: #fff;
  padding-bottom: 20px;
  box-shadow: 1px 3px 11px 2px #eaeaea;
  transition: 0.6s ease;
  margin: 5% 0;
}

.card:hover{
  box-shadow: 3px 6px 15px 4px #eaeaea;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 25px;
}

// second section ends here

// work with me section starts here

.work-with-me{
  padding: 10px;
  color: #546982 !important;
}

.work-with-me h5{
  margin: 2% 0;
  font-size: 36px;
}

.work-with-me p{
  margin: 2% 0 3%;
  font-size: 16px;
}
// work with me ends here


//footer starts here
.flex p{
  color: #e3e3e3;
}

.flex a{
  color: #fff;
}

.flex a:hover{
  color: #e3e3e3;
}

.flex i{
  font-size: 30px;
  padding: 0 10px 25px 0px;
}

.first-box{
  padding: 15px 0;
}

.second-box{
 padding-bottom: 15px;
}

// footer ends here

// sub footer starts here
.copyright p{
   word-spacing: 2px;
}

.links{
  display: inline-flex;
}

.links p{
  padding-right: 15px;
}

.links a{
  color: #fff;
  text-decoration: none;
  transition: ease 0.4s;
}

.links a:hover{
  color: #e2e2e2;
  text-decoration: none;
}
// sub footer ends here
