<!-- this is the navigation bar -->


<header>
  <nav>
    <div class="container">
      <div class="wrapper">
        <div class="details">
          <p>connoringold@gmail.com</p>
          <p>0712 3456 789</p>
        </div>
          <div class="header-socail-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-facebook-f"></i>
          </div>
      </div>
    </div>
  </nav>
</header>

<nav>
  <div class="container">
    <%= link_to image_tag("logo.png", :alt => "logo"), root_path, class: "top-logo" %>
    <a href=""><p>home</p></a>
    <a href=""><p>portfolio</p></a>
    <a href=""><p>blog</p></a>
    <a href=""><p>pages</p></a>
    <a href=""><p>features</p></a>
    <a href=""><p>mega menu</p></a>
    <a href=""><p>contact</p></a>
  </div>
</nav>

<div class="banner">
  <div class="container">
    <h1>MADE FOR DESIGNERS</h1>
      <p>Welcome it my thing its a good thing made to be a good thing feel free <br>
        to explore my thing till your hearts content
      </p>
    <a href="#" class="btn-treehouse">Start now</a>
  </div>
</div>

<section>
  <div class="container">
    <div class="about-me">
      <h3>Beatiful. Clean. Responsive.</h3>
      <p>I keep these three things in mind from the first line of code I write until the last. <br>
      I am pasioante about buidling websites from the ground up and strongly dislike website buidler. <br>
      I pride myself on being able to do everything any website budiler can but better
      </p>

      <div class="three-things">
        <div>
          <h5>Passion</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            cumque animi voluptates hic vitae. Delectus quo totam quibusdam alias
            itaque, eos magnam dignissimos amet assumenda!
          </p>
        </div>
          <div>
            <h5>Creativity</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
              cumque animi voluptates hic vitae. Delectus quo totam quibusdam alias
              itaque, eos magnam dignissimos amet assumenda!
            </p>
          </div>
        <div>
          <h5>Quality</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            cumque animi voluptates hic vitae. Delectus quo totam quibusdam alias
            itaque, eos magnam dignissimos amet assumenda!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="latest-work">
      <h3>Check out my latest works</h3>
      <p>Feedback is key! and I would love to hear your opinon so please feel free to contact me</p>
    </div>

    <div class="work-with-me">
      <h5>Like what you see? contact me</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ea. <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <button>get in touch</button>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="flex">
      <div class="first-box">
      <p>Who Am I?</p>
      <h6>Good</h6>
      <h6>question</h6>
      </div>
      <div class="second-box">

      </div>
      <div class="thrid-box">

      </div>
      <div class="forth-box">

      </div>
    </div>
  </div>
</footer>
