<!-- this is the navigation bar -->
<div class="narbar-header">

</div>
<nav>
  <div class="containter">
  <%= link_to image_tag("logo.png", :alt => "logo"), root_path, class: "top-logo" %>
    <p>home</p>
    <p>portfolio</p>
    <p>blog</p>
    <p>pages</p>
    <p>features</p>
    <p>mega menu</p>
    <p>contact</p>
  </div>
</nav>
