<!-- this is the navigation bar -->


<header>
  <nav>
    <div class="container">
      <div class="wrapper">
        <div class="details">
          <p>connoringold@gmail.com</p>
          <p>0712 3456 789</p>
        </div>
          <div class="header-socail-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-facebook-f"></i>
          </div>
      </div>
    </div>
  </nav>
</header>

<nav>
  <div class="container">
    <div class="row">
      <%= link_to image_tag("logo.png", :alt => "logo"), root_path, class: "top-logo" %>
      <a href=""><p>home</p></a>
      <a href=""><p>portfolio</p></a>
      <a href=""><p>blog</p></a>
      <a href=""><p>pages</p></a>
      <a href=""><p>features</p></a>
      <a href=""><p>contact</p></a>
    </div>
  </div>
</nav>

<div class="homepage">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <div class="banner-content">
            <h1>connor daniel ingold</h1>
            <p>Create your online portfolio in minutes with the professionally and
              lovingly designed REEN website template. Customize your site with
              versatile and easy to use features.
            </p>
            <a href="#" class="btn-design">CLICK TO SCROLL</a>
          </div>
        </div>
      </div>
    </div>
    </div>


  <section>
    <div class="container">
      <div class="wrapper">
        <div class="about-me">
          <div class="paragraph">
            <h3>Beatiful. Clean. Responsive.</h3>
            <p>I keep these three things in mind from the first line of code I write until the last. <br>
            I am pasioante about buidling websites from the ground up and strongly dislike website buidler. <br>
            I pride myself on being able to do everything any website budiler can but better
            </p>
          </div>
          <div class="row">
            <div class="three-things">
              <div class="passion">
                <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">
                      <i class="far fa-heart"></i>
                    </div>
                    <div class="col-md-10">
                      <h4>Passion</h4>
                      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
                        aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
                        core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="creativity">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-2">
                      <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="col-md-10">
                      <h4>Creativity</h4>
                      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
                        aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
                        core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="quality">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-2">
                      <i class="far fa-star"></i>
                    </div>
                    <div class="col-md-10">
                      <h4>Quality</h4>
                      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
                        aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
                        core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="second-section">
    <div class="container">
      <div class="row margin">
        <div class="latest-work">
          <h3>Check out my latest works</h3>
          <p>Feedback is key! and I would love to hear your opinon so please feel free to contact me</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12 center">
            <div class="card">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.moooi.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Flarge%2Fpublic%2Fproduct-images%2Frandom_detail.jpg%3Fitok%3DErJveZTY&f=1" alt="my website">
              <h3>My Blog</h3>
              <p>A personal blog about my life and interests</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 center">
            <div class="card">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.moooi.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Flarge%2Fpublic%2Fproduct-images%2Frandom_detail.jpg%3Fitok%3DErJveZTY&f=1" alt="my website">
              <h3>Real clothing</h3>
              <p>My clothing company</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 center">
            <div class="card">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.moooi.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Flarge%2Fpublic%2Fproduct-images%2Frandom_detail.jpg%3Fitok%3DErJveZTY&f=1" alt="my website">
              <h3>Some App</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <div class="work-with-me">
          <h5>Need A Website?</h5>
          <p>I open to all opportuniy and job offerings you have and love hear from you<br>
            please feel free to contact me and im sure I will be able to help you out.
          </p>
          <a href="#" class="btn-design2">GET IN TOUCH</a>
        </div>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class="container">
    <div class="flex">
      <div class="row">
        <div class="col-md-5">
          <div class="first-box">
            <h4>Who Am I?</h4>
            <p>A highly creative and logically minded individual with 2 years’ experience working within a social media startup. Exceptional collaborative and interpersonal skills, a dynamic team player with well-developed verbal communications skills with a proven track record of presenting and building robust relationships at all levels<p>
          </div>
        </div>
        <div class="second-box">
          <div class="col-md-4">
            <h4>Contact Me</h4>
            <p>If you like what you see and want to hire me or just want to talk in general please don't hesitate to send me an email.</p>
          </div>
        </div>
        <div class="thrid-box">
          <div class="col-md-3">
            <h4>Socail Media</h4>
            <a href="https://github.com/killercarwash"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/connor-ingold-a39a27100/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/connor.ingold"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="sub-footer-content">
        <div class="copyright">
          <p>&copy; 2018 Connor Ingold All rights reserved</p>
        </div>
        <div class="links">
          <a href=""><p>Home</p></a>
          <a href=""><p>&#8226;</p></a>
          <a href=""><p>Portfolio</p></a>
          <a href=""><p>	&#8226;</p></a>
          <a href=""><p>Blog</p></a>
          <a href=""><p>	&#8226;</p></a>
          <a href=""><p>About</p></a>
          <a href=""><p>	&#8226;</p></a>
          <a href=""><p>Contact</p></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- sub footer starts here -->
