<!-- this is the navigation bar -->


<div class="homepage">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <div class="banner-content" class="first">
            <h1>connor daniel ingold</h1>
            <p>I enjoy turning complex problems into simple, beautiful and intuitive websites. When I'm not coding, you'll find me listing to music, going to
               live shows, watching netflix or learning about the deep complexities of the human mind. (Bet you wern't exspecting that last one)
            </p>
            <a href="#" class="btn-design" onclick="smoothScroll(document.getElementById('second'))">CLICK TO SCROLL</a>

          </div>
        </div>
      </div>
    </div>
    </div>



<section class="passion" id="second">
  <div class="container">
    <div class="row center">
      <div class="container center">
        <h2>Logical. Creative. Disciplined.</h2>
        <!-- Also coffee, beer and pizza -->
        <h5 class="sub-title font-weight-light">A good Web Dev Possess...</h5>
          <p class="w-50 ml-auto mr-auto">Find the above 3 qualities in a web developer and you will come to understand they are a force to be reckoned with. The Greek gods combined couldn't defeat a web dev who possessed these 3 traits. </p>
      </div>

      <div class="col-md-4">
        <div class="col-md-10">
          <i class="far fa-heart center"></i>
          <h4>Passion</h4>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
            aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
            core posae volor remped modis volor.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-10">
          <i class="far fa-heart center"></i>
          <h4>Passion</h4>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
            aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
            core posae volor remped modis volor.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-10">
          <i class="far fa-heart center"></i>
          <h4>Passion</h4>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
            aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
            core posae volor remped modis volor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


  <section class="second-section" id="third">
    <div class="container center">
      <div class="row center">
        <div class="latest-work center">
          <h3>Check out my latest works</h3>
          <p>Feedback is key! and I would love to hear your opinon so please feel free to contact me</p>
        </div>
      </div>
    </div>
      <div class="container" >
        <div class="row">
          <div class="col-md-4 col-xs-12 center">
            <div class="card">
              <img src="https://udemy-images.udemy.com/course/750x422/670034_ce04_4.jpg" alt="my website">
              <h3>Reservation App</h3>
              <p>Project showing off some JavaScript skill</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 center">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY_CNbdC6ksbB-n1nhB4s1fxmFJQWyKh_roXW9HBofS86Ye32Q" alt="my website">
              <h3>Real clothing</h3>
              <p>Coming soon!</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 center">
            <div class="card">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.moooi.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Flarge%2Fpublic%2Fproduct-images%2Frandom_detail.jpg%3Fitok%3DErJveZTY&f=1" alt="my website">
              <h3>Something Big</h3>
              <p>I'm unable to say anything at the moment</p>
            </div>
          </div>
        </div>
      </div>

  </section>


  <div class="container" >
    <div class="row">
      <div class="col-md-12 center">
        <div class="work-with-me">
          <h5>Need A Website?</h5>
          <p>I open to all opportuniy and job offerings you have and love hear from you<br>
            please feel free to contact me and im sure I will be able to help you out.
          </p>
          <a href="mailto:connoringold@gmail.com?subject=Hi Connor I Would Like To Speak In Regards To&body=Hello Connor, %0D%0A %0D%0A %0D%0AKind Regards, %0D%0A %0D%0A{INSERT_NAME_HERE}" class="btn-design2">GET IN TOUCH</a>
        </div>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class="container" id="fourth">
    <div class="flex">
      <div class="row">
        <div class="col-md-4 center">
          <h4>Contact Me</h4>
          <p>If you like what you see and want to hire me or just want to talk in general please don't hesitate to <a href="mailto:connoringold@gmail.com?subject=Hi Connor I Would Like To Speak In Regards To&amp;body=Hello Connor, %0D%0A %0D%0A %0D%0AKind Regards, %0D%0A %0D%0A{INSERT_NAME_HERE}" class="contact"><strong>send me an email</strong></a>.</p>
        </div>

        <div class="col-md-4 center">
          <h4>Who Am I?</h4>
          <p>A highly creative and logically minded individual with 2 years’ experience working within a social media startup. Exceptional collaborative and interpersonal skills, a dynamic team player with well-developed verbal communications skills with a proven track record of presenting and building robust relationships at all levels.<p>
        </div>

        <div class="col-md-4 center">
          <h4>Social Media</h4>
          <a href="https://github.com/killercarwash"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/connor-ingold-a39a27100/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.facebook.com/connor.ingold"><i class="fab fa-facebook-square"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="sub-footer-content">
        <div class="copyright">
          <p>&copy; 2018 Connor Ingold All rights reserved</p>
        </div>
        <div class="links" id="fourth">
          <a href=""><p>Home</p></a>
          <a href=""><p>&#8226;</p></a>
          <a href=""><p>Portfolio</p></a>
          <a href=""><p>	&#8226;</p></a>
          <a href=""><p>Blog</p></a>
          <a href=""><p>	&#8226;</p></a>
          <a href=""><p>About</p></a>
          <a href=""><p>	&#8226;</p></a>
          <a href=""><p>Contact</p></a>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- sub footer starts here -->
