<!-- this is the navigation bar -->


<header>
  <nav>
    <div class="container">
      <div class="wrapper">
        <div class="details">
          <p>connoringold@gmail.com</p>
          <p>0712 3456 789</p>
        </div>
          <div class="header-socail-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-facebook-f"></i>
          </div>
      </div>
    </div>
  </nav>
</header>

<nav>
  <div class="container">
    <div class="row">
      <%= link_to image_tag("logo.png", :alt => "logo"), root_path, class: "top-logo" %>
      <a href=""><p>home</p></a>
      <a href=""><p>portfolio</p></a>
      <a href=""><p>blog</p></a>
      <a href=""><p>pages</p></a>
      <a href=""><p>features</p></a>
      <a href=""><p>contact</p></a>
    </div>
  </div>
</nav>

<div class="homepage">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <div class="banner-content">
            <h1>connor daniel ingold</h1>
            <p>Create your online portfolio in minutes with the professionally and
              lovingly designed REEN website template. Customize your site with
              versatile and easy to use features.
            </p>
            <a href="#" class="btn-design">CLICK TO SCROLL</a>
          </div>
        </div>
      </div>
    </div>
    </div>


  <section>
    <div class="container">
      <div class="wrapper">
        <div class="about-me">
          <div class="paragraph">
            <h3>Beatiful. Clean. Responsive.</h3>
            <p>I keep these three things in mind from the first line of code I write until the last. <br>
            I am pasioante about buidling websites from the ground up and strongly dislike website buidler. <br>
            I pride myself on being able to do everything any website budiler can but better
            </p>
          </div>
          <div class="row">
            <div class="three-things">
              <div class="passion">
                <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">
                      <i class="far fa-heart"></i>
                    </div>
                    <div class="col-md-10">
                      <h4>Passion</h4>
                      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
                        aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
                        core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="creativity">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-2">
                      <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="col-md-10">
                      <h4>Creativity</h4>
                      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
                        aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
                        core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="quality">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-2">
                      <i class="far fa-star"></i>
                    </div>
                    <div class="col-md-10">
                      <h4>Quality</h4>
                      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem
                        aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam
                        core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="second-section">
    <div class="container">
      <div class="row margin">
        <div class="latest-work">
          <h3>Check out my latest works</h3>
          <p>Feedback is key! and I would love to hear your opinon so please feel free to contact me</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12 center">
            <div class="card">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.moooi.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Flarge%2Fpublic%2Fproduct-images%2Frandom_detail.jpg%3Fitok%3DErJveZTY&f=1" alt="my website">
              <h3>My Blog</h3>
              <p>A personal blog about my life and interests</p>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 center">
            <div class="card">
              <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.moooi.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Flarge%2Fpublic%2Fproduct-images%2Frandom_detail.jpg%3Fitok%3DErJveZTY&f=1" alt="my website">
              <h3>Real clothing</h3>
              <p>My clothing company</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="work-with-me">
  <h5>Like what you see? contact me</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ea. <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
  <button>get in touch</button>
</div> -->



<!--

<footer>
  <div class="container">
    <div class="flex">
      <div class="first-box">
      <p>Who Am I?</p>
      <h6>Good</h6>
      <h6>question</h6>
      </div>
      <div class="second-box">

      </div>
      <div class="thrid-box">

      </div>
      <div class="forth-box">

      </div>
    </div>
  </div>
</footer> -->
